# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Build directories
dist
dist-ssr

# System files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE files
.vscode/*
.idea

VITE_FIREBASE_API_KEY="AIzaSyBChOUd6NLpCCt0oK7RKRGMURrl3IkxtG8"
VITE_FIREBASE_AUTH_DOMAIN="celestial-biscuit.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="celestial-biscuit"
VITE_FIREBASE_STORAGE_BUCKET="celestial-biscuit.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="307076442322"
VITE_FIREBASE_APP_ID="1:307076442322:web:efe45f83a65527e828250b"
VITE_FIREBASE_MEASUREMENT_ID="G-7NY3T1QMBG"

