.signin-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 100vh;
  background: linear-gradient(235deg, #c6d9b3, #f8fff1);
}

.signin-form-container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.signin-form-container h2 {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Text styles */
.signin-form-container p {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Input field styles */
.signin-form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Button styles */
.signin-form-container button {
  width: 100%;
  padding: 10px;
  background-color: #2e4e1f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signin-form-container button:hover {
  background-color: #1e3514;
}

/* Redirect section */
.signin-redirect {
  display: flex;
}

.signin-redirect p,
.signin-redirect a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top:20px;
  padding-right: 60px;
}

.signin-redirect a {
  color: rgb(90, 211, 59);
  padding-top: 20px;
  padding-left: 90px;
}

/* Left side */
.signin-left {
  flex: 1;  
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
}

.signin-left img {
  width: 70%;
  height: auto; 
  border-radius: 15%;
}


.signin-right {
  flex: 1; 
  margin-right: 50px;
  display: flex;
  justify-content: center; 
}
